
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="box-footer info-contact">
                        <h3>Thông tin liên hệ</h3>
                        <div class="content-contact">
                            <p>Cửa hàng điện thoại, máy tính hàng đầu Việt Nam</p>
                            <p>
                                <strong>Địa chỉ:</strong> 9 - 11 Nguyễn Thị Thập, Bình Thuận, Quận 7, Thành phố Hồ Chí Minh
                            </p>
                            <p>
                                <strong>Email: </strong> smarttech@gmail.com
                            </p>
            
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="box-footer info-contact">
                        <h3>Thông tin khác</h3>
                        <div class="content-list">
                            <ul>
                                <li><a href="/security"><i class="fa fa-angle-double-right"></i> Chính sách bảo mật</a></li>
                                <li><a href="/warranty"><i class="fa fa-angle-double-right"></i> Chính sách bảo hành</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> Phí vẫn chuyển</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> Hướng dẫn thanh toán</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> Chương trình khuyến mãi</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="box-footer info-contact">
                        <h3>Tổng đài hỗ trợ miễn phí</h3>
                        <ul>
                            <li><a href="tel:18002097"><i class="fa fa-mobile" aria-hidden="true"> </i> <span style="color: white;"> Gọi mua hàng 1800.2097 (7h30 - 22h00) </span> </a></li>
                            <li><a href="tel:18002063"><i class="fa fa-mobile" aria-hidden="true"> </i> <span style="color: white;"> Gọi khiếu nại 1800.2063 (8h00 - 21h30) </span> </a></li>
                            <li><a href="tel:18002064"><i class="fa fa-mobile" aria-hidden="true"> </i> <span style="color: white;"> Gọi bảo hành 1800.2064 (8h00 - 21h00) </span> </a></li>

                        </ul>

                        <h3 style="margin-top: 10px;">Phương thức thanh toán</h3>
                        
                        <div style="display: flex; justify-content: left;" >
                            <img class="pay" src="img/alepay-logo.png">
                            <img  class="pay"  src="img/kredivo-logo.png">
                            <img  class="pay"  src="img/moca-logo.png">
                            <img  class="pay"  src="img/mpos-logo.png">
                            <img  class="pay"  src="img/onepay-logo.png">
                           
                        </div>

                        <div style="display: flex; justify-content: left;" >
                            <img  class="pay"  src="img/vnpay-logo.png">
                            <img  class="pay"  src="img/zalopay-logo.png">
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </footer>
    
</body>
</html>