<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Add jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<title>Chi tiết tài khoản</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">



<style>
	
</style>

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<!-- Sidebar -->
			<div th:replace="~{layouts/admin/sidebar :: sidebar}"></div>

			<!-- Main -->
			<div class="col-sm p-3 min-vh-100" >
				<h2 class="text-center" >Chi tiết tài khoản</h2>
				<a href="/admin/listaccount?page=1&type=all" style="text-decoration: none;"> <- Trở lại </a>
				<hr>
				<p style="color: red;" th:text="${message}"> </p>
				<div class="row">
						<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12" style=" text-align: center; font-size: 18px;">
								<p> Username: <span th:text="${user.UserName}"> </span> </p>
								<p> Email: <span th:text="${user.Email}"> </span> </p>
								<p> Địa chỉ: <span th:text="${user.Address}"> </span> </p>
								<p> Số điện thoại: <span th:text="${user.PhoneNumber}"> </span> </p>
						</div>
						
						<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12" style="text-align: center; font-size: 18px;">
							  <table border="1" style="width: 100%;">
								  <th>STT</th>
								  <th>Role name</th>
								  <th>**</th>
								  
								  <tbody th:with="mycounter = ${counter.get()}">
									  <tr  th:with="mycounter=${counter.incrementAndGet()}"  th:each ="role : ${list}" >
										  <td th:text = "${mycounter}"> </td>
										  <td th:text = "${role.appRole.name}"> </td>
										  <td> 
											  <form method="post" action="/deleterole">
												   <input style="display: none;" type="number" th:value="${user.UserID}" name="userid">
												  <input style="display: none;" type="number" th:value="${role.id}" name="roleid">
												  <button type="submit" class="btn btn-danger">Xóa</button>
											  </form>
										  </td>
									  </tr>
									  
								  </tbody>
							  </table>
							  
							  <form style="width: 40%; margin-top: 30px;" action="/addrole" method="post">
								  <input style="display: none;" type="number" th:value="${user.UserID}" name="userid">
								  <select class="form-select" aria-label="Default select example" name="type">
									  <option value="2">User</option>
									  <option value="1">Admin</option>
									</select>
								  <button style="margin-top: 10px;" type="submit" class="btn btn-success">Cấp role</button>
							  </form>	
						</div>
				</div>
					
			</div>
		</div>
	</div>
	
	<script>
		
	
		
		
	</script>

</body>

</html>