

#anhnen{
    width: 41%;
    
}


@media screen and (max-width: 800px) {
        #anhnen{
           display: none;

        }

  }

#togglePassword{
  position: absolute; right: 15%; top: 48%;
}


@media screen and (max-width: 1000px) {
  
  #togglePassword{
      top: 50%;
  }

}


@media screen and (max-width: 800px) {
  
  #togglePassword{
      top: 50%;
  }

}


#main{
    margin-top: 80px;
    
}



* {box-sizing: border-box;}


.input-container {
  display: flex;
  width: 80%;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: #FF0000;
  color: white;
  min-width: 50px;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}


.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  background-color: #E8F0FE;
  border: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.input-field:focus {
  border: 1px solid #FF0000;
}

.register {
  background-color: #FF0000;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
  color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.btn:hover {
  opacity: 1;
}


h3{
   text-align: center;
}


.title{
    padding-top: 40px;
    padding-bottom: 40px;
}

  


#main_form{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


@media screen and (max-width: 800px) {
  
#main_form{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

}



#anhnen{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}

#forget{
    text-decoration: none;
     color: black; 
    
}

#register{
    text-decoration: none;
    color: black; 
    margin-left: 10px;
}

#register:hover{
    color:rgb(8, 90, 184);
}

#forget:hover{
    color:rgb(8, 90, 184);
}