.noidungthanhtoan{
    font-size: 15px;
}

.tieudetieumuc{
    font-size: 18px;
    font-weight: bold;
}

a{
    color: red;
    text-decoration: none;
}

.bold{
    font-weight: bold;
}

#first{
    margin-top: 20px;
}