<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
<title>Giới thiệu cửa hàng</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="css/headerfooter.css">
<link rel="stylesheet" href="css/cuahang.css">
</head>

<body>
	<div th:replace="~{layouts/user/header:: header}"></div>
	
	<div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-11 col-md-11 col-xs-11 col-sm-11" style="margin-top: 20px;">
                      <div class="row">
						  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="background-color: #2C76F6; border-radius: 10px; text-align: center; color: white; margin-top: 20px;">
                                <h2> Giới thiệu cửa hàng</h2>
                           </div>
                        	
							<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="text-align: center; margin-top: 20px;">
								  <p> 
									  Thông Tin Kinh Doanh 
									  <br>
									  <br>
									  <span style="font-size: 24px;"> CỬA HÀNG ĐIỆN THOẠI SMART STORE </span>
									  <br>
									   Địa chỉ:
									   <br>
									   9 - 11 Nguyễn Thị Thập, Bình Thuận, Quận 7, Thành phố Hồ Chí Minh
									   <br>
									   <br>
									   Hotline: <span style="color: red;"> 0921.281.281 – 0921.231.231</span>
									   <br>
									   <br>
									   <span style="font-weight: bold;"> MST/ĐKKD/QĐTL: </span> 8737607778-001
									   <br><br>
									   Đăng ký lần đầu: Ngày 02 tháng 03 năm 2022
									   <br>
									   <br>
									   Điện thoại: 0776416267
									   <br><br>
									   <span style="font-weight: bold;">Họ tên đại diện hộ kinh doanh: TRƯƠNG CHÍ NGHĨA </span>
									  
									  
								  </p>
								
							</div>
							
							<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="margin-top: 30px;margin-bottom: 20px;">
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d291.3526076013724!2d106.72774716056007!3d10.737734939459331!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175257c3d51527f%3A0x1f81dc7d04712f4!2zOSBOZ3V54buFbiBUaOG7iyBUaOG6rXAsIELDrG5oIFRodeG6rW4sIFF14bqtbiA3LCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1692958162333!5m2!1svi!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
							</div>
							
                     </div>

                </div>

            </div>
    </div>
	
	
	

	<div th:replace="~{layouts/user/footer:: footer}"></div>
</body>

</html>