<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<title>Thanh toán</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="css/headerfooter.css">
<link rel="stylesheet" href="css/payment.css">
</head>

<body>
	<div th:replace="~{layouts/user/header:: header}"></div>
	
	<div class="container-fluid" style="background-color: rgb(217, 233, 233);" >
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-12" id="main">
                    <form action="" method="post">
                            <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12" id="left">
                                            <div class="row">

                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12" style="text-align: center;">
                                                           <h3 class="tieude"> THÔNG TIN ĐẶT HÀNG </h3>
                                                    </div>

                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                                        <label for="fullname" class="text" >Họ tên:</label>
                                                        <div class="input-container2">
                                                            <input class="input-field" type="text" placeholder="Nhập họ tên người nhận hàng" name="fullname" id="fullname" required>
                                                            <span />
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                                        <label for="email" class="text" >Email:</label>
                                                        <div class="input-container2">
                                                            <input class="input-field" type="email" placeholder="Nhập email" name="email" id="email" required>
                                                            <span />
                                                        </div>     
                                                    </div>

                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                                        <label for="phone"  class="text" >Số điện thoại: </label>
                                                                    
                                                        <div class="input-container2">
                                                            <input class="input-field" type="tel" name="phone" id="phone" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" placeholder="Nhập số điện thoại"  required>
                                                            <span />
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                                        <label for="country-state" class="text" >Khu vực: </label>
                                                        <div class="input-container2">
                                                            <select id="country-state" name="country-state" style="width: 100%;" required>

                                                                <option value="An Giang" >An Giang</option>
                                                                <option value="Bà Rịa-Vũng Tàu">Bà Rịa-Vũng Tàu</option>
                                                                <option value="Bắc Giang">Bắc Giang</option>
                                                                <option value="Bắc Kạn">Bắc Kạn</option>
                                                                <option value="Bạc Liêu">Bạc Liêu</option>
                                                                <option value="Bắc Ninh">Bắc Ninh</option>
                                                                <option value="Bến Tre">Bến Tre</option>
                                                                <option value="Bình Dương">Bình Dương</option>
                                                                <option value="Bình Định">Bình Định</option>
                                                                <option value="Bình Phước">Bình Phước</option>
                                                                <option value="Bình Thuận">Bình Thuận</option>
                                                                <option value="Cà Mau">Cà Mau</option>
                                                                <option value="Cao Bằng">Cao Bằng</option>
                                                                <option value="Đà Nẵng">Đà Nẵng</option>
                                                                <option value="Đắk Lắk">Đắk Lắk</option>
                                                                <option value="Đắk Nông">Đắk Nông</option>
                                                                <option value="Điện Biên">Điện Biên</option>
                                                                <option value="Đồng Nai">Đồng Nai</option>
                                                                <option value="Đồng Tháp">Đồng Tháp</option>
                                                                <option value="Gia Lai">Gia Lai</option>
                                                                <option value="Hà Giang">Hà Giang</option>
                                                                <option value="Hà Nam">Hà Nam</option>
                                                                <option value="Hà Tây">Hà Tây</option>
                                                                <option value="Hà Tĩnh">Hà Tĩnh</option>
                                                                <option value="Hải Dương">Hải Dương</option>
                                                                <option value="Hải Phòng">Hải Phòng</option>
                                                                <option value="Hà Nội">Hà Nội</option>
                                                                <option value="Hậu Giang">Hậu Giang</option>
                                                                <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                                                                <option value="Hòa Bình">Hòa Bình</option>
                                                                <option value="Hưng Yên">Hưng Yên</option>
                                                                <option value="Khánh Hòa">Khánh Hòa</option>
                                                                <option value="Kiên Giang">Kiên Giang</option>
                                                                <option value="Kon Tum">Kon Tum</option>
                                                                <option value="Lai Châu">Lai Châu</option>
                                                                <option value="Lâm Đồng">Lâm Đồng</option>
                                                                <option value="Lạng Sơn">Lạng Sơn</option>
                                                                <option value="Lào Cai">Lào Cai</option>
                                                                <option value="Long An">Long An</option>
                                                                <option value="Nam Định">Nam Định</option>
                                                                <option value="Nghệ An">Nghệ An</option>
                                                                <option value="Ninh Bình">Ninh Bình</option>
                                                                <option value="Ninh Thuận">Ninh Thuận</option>
                                                                <option value="Phú Thọ">Phú Thọ</option>
                                                                <option value="Phú Yên">Phú Yên</option>
                                                                <option value="Quảng Bình">Quảng Bình</option>
                                                                <option value="Quảng Nam">Quảng Nam</option>
                                                                <option value="Quảng Ngãi">Quảng Ngãi</option>
                                                                <option value="Quảng Ninh">Quảng Ninh</option>
                                                                <option value="Quảng Trị">Quảng Trị</option>
                                                                <option value="Sóc Trăng">Sóc Trăng</option>
                                                                <option value="Sơn La">Sơn La</option>
                                                                <option value="Tây Ninh">Tây Ninh</option>
                                                                <option value="Thái Bình">Thái Bình</option>
                                                                <option value="Thái Nguyên">Thái Nguyên</option>
                                                                <option value="Thanh Hóa">Thanh Hóa</option>
                                                                <option value="Thừa Thiên-Huế">Thừa Thiên-Huế</option>
                                                                <option value="Tiền Giang">Tiền Giang</option>
                                                                <option value="Trà Vinh">Trà Vinh</option>
                                                                <option value="Tuyên Quang">Tuyên Quang</option>
                                                                <option value="Vĩnh Long">Vĩnh Long</option>
                                                                <option value="Vĩnh Phúc">Vĩnh Phúc</option>
                                                                <option value="Yên Bái">Yên Bái</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                                        <label for="address" class="text" >Địa chỉ:</label>
                                                        <div class="input-container2">
                                                            <input class="input-field" type="text" placeholder="Nhập địa chỉ" name="address" id="address" required>
                                                            <span />
                                                        </div>   
                                                    </div>

                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">

                                                          <p class="text" > Tổng cộng: <span id="giatien" th:text="${total}"></span> </p>
													      <p class="text" th:if ="${textcode}" > Mã giảm giá: <span id="code" th:text = "${textcode}"></span> - <span id="giatien" th:text="${value}" > </span> </p>
													      <p class="text" th:unless ="${textcode}"> Mã giảm giá: <span id="code"> Không có</span> </p>
													      <p class="text"  > Thành tiền: <span id="giatien" th:text="${total - value}"> </span>  </p>
													      <p style="display: none;"> Thành tiền: <span id="final" th:text="${total - value}"> </span>  </p>
													      
                                                    </div>
                                            </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12" id="right">
                                          <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12" style="text-align: center;">
                                                    <h3 class="tieude" > THANH TOÁN</h3>
                                                </div>

                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                                    <p class="text" > Chấp nhận thẻ: </p>
                                                    <img src="img/card_img.png"></img>
                                                </div>

                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                                       <label for="name_on_card" class="text">Tên chủ thẻ:</label>
                                                        <div class="input-container2">
                                                            <input class="input-field" type="text" placeholder="Nhập tên chủ thẻ" name="name_on_card" id="name_on_card" required>
                                                            <span />
                                                        </div>   
                                                </div>

                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                                    <label for="cardnumber" class="text" >Số thẻ:</label>
                                                    <div class="input-container2">
                                                        <input class="input-field" type="text" placeholder="Nhập số thẻ" name="cardnumber" id="cardnumber" required>
                                                        <span />
                                                    </div>  
                                                </div>

                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                                    <label for="month" class="text" >Exp month:</label>
                                                    <div class="input-container2">
                                                        
                                                        <select id="month" name="month">
                                                                <option value="1">January</option>
                                                                <option value="2">February</option>
                                                                <option value="3">March</option>
                                                                <option value="4">April</option>
                                                                <option value="5">May</option>
                                                                <option value="6">June</option>
                                                                <option value="7">July </option>
                                                                <option value="8">August</option>
                                                                <option value="9">September </option>
                                                                <option value="10">October</option>
                                                                <option value="11">November</option>
                                                                <option value="12">December</option>                                                            
                                                        </select>

                                                        
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                                    <label for="year" class="text" >Exp year:</label>
                                                    <div class="input-container2">           
                                                        <input  class="input-field" type="number" name="year" id="year" placeholder="Exp year" min = 2023  max = 2100 required>
                                                        <span />
                                                    </div>
                                                   
                                                 
                                                </div>

                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                                    <label for="cvv" class="text" >CVV/CVC:</label>
                                                    <div class="input-container2">
                                                        <input class="input-field" type="number" name="cvv" id="cvv" min=100 placeholder="CVV/CVC"  required>
                                                        <span />
                                                    </div>
                                                  
                                                    
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                                    <button style="margin-top: 20px;margin-bottom: 20px;" type="button" onclick="payment()" class="btn btn-success">Thanh toán</button>

                                                </div>
                                                
                                          </div>
                                    </div>
                            </div>
                    </form>

                </div>
                    
            </div>
    </div>



	<div th:replace="~{layouts/user/footer:: footer}"></div>
</body>
	
	<script>
		
		
		
		
		function payment(){
			
			
		  if (confirm("Xác nhận đặt hàng") == true){
			let name = $("#name_on_card").val();
		    let numbercard = $("#cardnumber").val();
		    let month =  $("#month").val();
		    let year = $("#year").val();
		    let cvv = $("#cvv").val();
		    
		    let fullname = $("#fullname").val();
		    let email = $("#email").val();
		    let phone = $("#phone").val();
		    let province = $("#country-state").val();
		    let address =  $("#address").val();
		    
		   let code =  document.getElementById("code").innerHTML;
		   let final =  document.getElementById("final").innerHTML;
		   
		    

		      $.ajax({
		       type: 'get',
       		   url: '/payment/saveorder',
         	   data: {name: name, numbercard: numbercard, month: month, year: year, cvv: cvv,
         	   fullname: fullname, email: email, phone: phone, province: province, address: address,
         	   code: code, final: final 
         	   },
          	   contentType: "application/json; charset=utf-8",
          	   traditional: true,
		        success: function (msg) {
		            alert(msg['message']);
		            if(msg['status'] == "true"){
						window.location.href = "/order?page=1";
					}
		            
		        }
		  
		     });
			}
			
			
		}
		
		
		 // Format the price as VND with the symbol "₫"
        document.addEventListener('DOMContentLoaded', () => {
            const priceElements = document.querySelectorAll('#giatien');
            priceElements.forEach(element => {
                const price = element.textContent;
                const formattedPrice = formatCurrencyVND(price);
                element.textContent = formattedPrice;
            });
        });

        // Function to format the price as VND
        function formatCurrencyVND(price) {
            const formatter = new Intl.NumberFormat('vi-VN', {
                style: 'currency',
                currency: 'VND'
            });
            return formatter.format(price);
        }
		
	</script>


</html>