<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
<title>Chính sách bảo mật</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="css/headerfooter.css">
<link rel="stylesheet" href="css/security.css">
</head>

<body>
	<div th:replace="~{layouts/user/header:: header}"></div>
	
	<div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-11 col-md-11 col-xs-11 col-sm-11">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="background-color: #2C76F6; border-radius: 10px; text-align: center; color: white; margin-top: 20px;">
                                <h2> Chính sách bảo mật</h2>
                        </div>

                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

                                <p class="noidungbaomat" id="first"> 
                                    Bản quyền Website: <a class="link" href="">https://smartstore.com.vn</a> thuộc quyền sở hữu của cửa hàng SMART STORE (sau đây gọi là Chúng tôi), là công ty hoạt động trong lĩnh vực sản xuất và kinh doanh thiết bị điện tử.      
                                    <br><br>
                                    Chúng tôi cam kết bảo đảm an toàn quyền riêng tư của khách hàng và bảo đảm khách hàng tiếp tục tin vào SMART STORE trong việc cung cấp dữ liệu cá nhân của mình.  
                                    <br><br>
                                    Chính sách bảo mật thông tin khách hàng này được tạo ra nhằm cung cấp các thông tin tổng quát về việc Chúng tôi sẽ thu thập, sử dụng hoặc xử lý các dữ liệu cá nhân mà Khách hàng cung cấp như thế nào trong hiện tại và trong tương lai; cũng như cách mà Chúng tôi sẽ hỗ trợ Khách hàng trước khi đưa ra bất cứ quyết định nào liên quan đến việc cung cấp thông tin cá nhân của khách hàng cho Chúng tôi. 
                                    <br><br>
                                    Khách hàng vui lòng đọc kĩ Chính sách bảo mật này một cách cẩn thận. Nếu có bất kì thắc mắc hoặc câu hỏi nào cần được hỗ trợ, xin vui lòng liên hệ cho Chúng tôi theo số Hotline: 0921.281.281 hoặc gửi thắc mắc về cho SMART STORE trong phần “Liên hệ”.
                                </p>

                                <p class="noidungbaomat" >
                                    <span class="tieudetieumuc"> 1. Mục đích và phạm vi sử dụng thông tin cá nhân </span>
                                    <br><br>
                                     Các thông tin thu thập qua Website <a class="link" href=""> https://smartstore.com.vn</a> sẽ được phục vụ với các mục đích sau: 
                                     <br><br>
                                     – Hỗ trợ kỹ thuật, phản hồi cho các yêu cầu, khiếu nại và phản hồi chung của khách hàng về sản phẩm của chúng tôi.  
                                     <br>
                                     – Khuyến khích khách hàng tham gia tích cực hơn vào sản phẩm và dịch vụ của chúng tôi. Ở đây có thể bao gồm việc sử dụng hoặc công bố các nội dung do người tiêu dùng tạo ra. 
                                     <br>
                                     – Cải thiện và cá nhân hóa trải nghiệm của Khách hàng trên Website 
                                     <br>
                                     – Điều chỉnh thông tin phù hợp với các nhu cầu của Khách hàng và đi đến những ý tưởng sản phẩm mới. 
                                     <br>
                                     – Cung cấp thông tin mới nhất về khuyến mãi, sản phẩm và dịch vụ của SMART STORE. 
                                </p >

                                <p class="noidungbaomat" >
                                    <span class="tieudetieumuc">2. Hình thức thu thập thông tin cá nhân</span>
                                    <br><br>
                                    SMART STORE có quyền thu thập dữ liệu cá nhân về Khách hàng từ nhiều nguồn khác nhau, bao gồm thông qua:
                                    <br><br>
                                    – Tương tác trực tuyến và điện tử như website SMART STORE, các ứng dụng di động, các chương trình SMS, và các đơn vị thứ ba như Facebook,… 
                                    <br>
                                    – Tương tác ngoại tuyến bao gồm các chiến dịch tiếp thị trực tiếp, thẻ đăng ký dạng bản in trên giấy, các nguồn dữ liệu đầu vào của các cuộc thi và thông tin liên lạc thông qua các cuộc gọi điện thoại của dịch vụ hỗ trợ khách hàng của SMART STORE.
                                    <br>
                                    – Tương tác của Khách hàng với các nội dung được định hướng trực tuyến (chẳng hạn như quảng cáo) mà SMART STORE, hoặc các nhà cung cấp dịch vụ nhân danh chúng tôi, cung cấp cho Khách hàng thông qua website web hoặc ứng dụng của bên thứ ba. 

                                </p>

                                <p class="noidungbaomat" >
                                    <span class="tieudetieumuc">3. Thời gian lưu trữ thông tin</span>
                                    <br>
                                    <br>
                                    Chúng tôi sẽ lưu trữ và bảo mật dữ liệu cá nhân của Khách hàng trong một thời gian hợp lý tính từ lần tương tác cuối cung của khách hàng với chúng tôi. Khi dữ liệu cá nhân mà chúng tôi thu thập không còn cần thiết nữa, chúng tôi sẽ hủy hoặc xóa dữ liệu một cách an toàn.
                                </p>

                                <p class="noidungbaomat" >
                                    <span class="tieudetieumuc">4. Những người hoặc tổ chức có thể được tiếp cận với thông tin </span>
                                    <br><br>
                                     SMART STORE không chia sẻ dữ liệu cá nhân của khách hàng với bên thứ ba bất kỳ, có dự định sử dụng dữ liệu đó cho mục đích tiếp thị trực tiếp, trừ khi Khách hàng đã đưa ra đồng ý cụ thể liên quan đến việc đó. 
                                    <br><br>
                                    Chúng tôi sẽ lưu giữ dữ liệu của khách hàng trong môi trường vận hành an toàn và chỉ có nhân viên, đại diện và các nhà thầu của SMART STORE có thể truy cập trên cơ sở cần phải biết.  
                                    <br><br>
                                    SMART STORE cũng tuân theo các tiêu chuẩn được chấp nhận phổ biến của ngành về việc này. 

                                </p>

                                <p class="noidungbaomat" >
                                    <span class="tieudetieumuc">5. Địa chỉ của đơn vị thu thập và quản lý thông tin  </span> <br>
                                    <span class="bold"> Cửa hàng điện thoại SMART STORE </span>
                                    <br><br>
                                    Địa chỉ đăng kí kinh doanh: 9 - 11 Nguyễn Thị Thập, Bình Thuận, Quận 7, Thành phố Hồ Chí Minh
                                    <br><br>
                                    Hotline: 0921.281.281  
                                    <br><br>
                                    Email: smartstore.com.vn

                                </p>

                                <p class="noidungbaomat" >
                                    <span class="tieudetieumuc">6. Phương thức để Khách hàng tiếp cận và chỉnh sửa dữ liệu thông tin cá nhân của mình 
                                  </span>
                                  <br>
                                  Bất cứ thời điểm nào Khách hàng cũng có thể truy cập website <a class="link" href=""> https://smartstore.com.vn </a> đăng nhập và chỉnh sửa những thông tin cá nhân đã đăng ký. 
                                  <br><br>
                                  Trong trường hợp Khách hàng không muốn tiếp tục hợp tác, bỏ yêu cầu truy cập hoặc thay đổi thông tin đã cung cấp hoặc các yêu cầu khác liên quan đến thông tin cá nhân, Khách hàng vui lòng liên hệ với bộ phận Chăm sóc khách hàng của Chúng tôi theo: 
                                  <br><br>
                                  Số điện thoại: 0921.231.231
                                  <br><br>
                                  Hoặc Hotline: 0921.281.281
                                  <br><br>
                                  Email tiếp nhận thông tin: smartstore.com.vn 
                                
                                </p>

                                <p class="noidungbaomat" >
                                       <span class="tieudetieumuc"> 7. Cam kết bảo mật thông tin cá nhân </span> 
                                        <br>
                                        Chúng tôi cam kết bảo mật thông tin cá nhân của Khách hàng bằng mọi cách thức có thể. Chúng tôi sử dụng công nghệ bảo mật thông tin theo chuẩn quốc tế nhằm bảo vệ thông tin này không bị truy lục, sử dụng hoặc tiết lộ ngoài ý muốn. Chúng tôi sẽ giữ lại dữ liệu cá nhân theo quy định pháp luật hiện hành. Tuy nhiên, Chúng tôi sẽ ẩn danh hóa dữ liệu cá nhân của Khách hàng ngay khi phát hiện khả năng xảy ra các vấn đề sau: 
                                        <br><br>
                                        Mục Đích mà dữ liệu cá nhân được thu thập không còn là Mục Đích ban đầu; 
                                        <br><br>
                                        Việc lưu giữ là không còn cần thiết cho bất kỳ Mục Đích pháp lý, kinh doanh.
                                        <br><br>
                                        Nếu Khách hàng ngừng sử dụng dịch vụ, sản phẩm của SMART STORE, chúng tôi có thể tiếp tục lưu trữ, sử dụng dữ liệu cá nhân của Khách hàng phù hợp với các nội dung của Chính Sách này. 
                                        <br.<br>
                                        Tùy thuộc vào luật áp dụng, Chúng tôi có thể xử lý dữ liệu cá nhân của Khách hàng một cách an toàn mà không cần báo trước cho Khách hàng. 
                                </p>

                                <p class="noidungbaomat" >
                                     <span class="tieudetieumuc"> 9. Cơ chế tiếp nhận và giải quyết khiếu nại: </span>
                                    <br>
                                    Trong quá trình truy cập Website, nếu khách hàng cảm thấy lo lắng hay hoài nghi bất cứ điều gì về việc mình bị đánh cắp thông tin cá nhân không mong muốn, hay việc thông tin cá nhân bị sử dụng sai mục đích, vượt phạm vi đã thông báo, khách hàng hoàn toàn có thể gửi khiếu nại về cho Bộ phân Chăm sóc khách hàng của SMART STORE theo địa chỉ email: <span class="bold">smartstore.com.vn </span> hoặc số hotline: <span class="bold">0921.281.281 </span> để được giải quyết. 

                                    <br><br>
                                    <span class="bold">– Lưu ý: </span> Trước khi được phép truy cập vào bất kì thông tin cá nhân nào của khách hàng, chúng tôi đều gửi yêu cầu, thông báo trực tiếp ngay trên qiao diện website và chờ đợi sự chấp thuận của khách hàng. Nếu khách hàng chọn đồng ý, khi đó chúng tôi mới thực sự được phép truy cập thông tin của khách hàng. Nếu khách hàng không đồng ý, chúng tôi sẽ tuyệt đối không tiếp cận thông tin cá nhân của khách hàng. 

                                </p>

                                <p class="noidungbaomat" >
                                    <span class="tieudetieumuc"> 10. Thông tin liên hệ:  </span>
                                    <br>
                                    Nếu Khách hàng có câu hỏi hoặc nhận xét bất kỳ về “Chính sách bảo mật thông tin khách hàng” này xin vui lòng liên lạc với chúng tôi bằng cách:  
                                    <br><br>
                                    <span class="bold"> Cửa hàng điện thoại SMART STORE</span>
                                    <br><br>
                                    Địa chỉ đăng kí kinh doanh: 9 - 11 Nguyễn Thị Thập, Bình Thuận, Quận 7, Thành phố Hồ Chí Minh.
                                    <br><br>
                                    Hotline: 0921.281.281  
                                    <br><br>
                                    Email: smartstore.com.vn

                                </p>


                        <div>

                     </div>

                </div>

            </div>
    </div>
	
	
	

	<div th:replace="~{layouts/user/footer:: footer}"></div>
</body>

</html>