<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
<title>Thu cũ đổi mới</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="css/headerfooter.css">
<link rel="stylesheet" href="css/thucu.css">
</head>

<body>
	<div th:replace="~{layouts/user/header:: header}"></div>
	
	<div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-11 col-md-11 col-xs-11 col-sm-11">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="background-color: #2C76F6; border-radius: 10px; text-align: center; color: white; margin-top: 20px;">
                                <h2> TRADE- IN THU MÁY CŨ ĐỔI MÁY MỚI</h2>
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12" style="display: flex;justify-content: center;">
							<img src="img/trade.webp" style="max-width: 60%;"> 
					   </div>
					    
					   <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12"  style="display: flex;justify-content: center;">
						   <img src="img/salary.webp" style="max-width: 60%;"> 
							
					   </div>


 						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="background-color: #2C76F6; border-radius: 10px; text-align: center; color: white; margin-top: 20px;">
                                <h2>Vì sao nên chọn Trade-in thu cũ đổi mới tại ABC</h2>
                        </div>
                        
                        
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                               <p class="noidungchinhsach" id="first"> 
									Với hình thức <span class="bold">Thu cũ đổi mới</span>, khách hàng sẽ tiết kiệm được thời gian, tiền bạc và vẫn hưởng đầy đủ các chính sách bảo hành, khuyến mãi, ưu đãi tại ABC. Tất cả quy trình thu máy và
									lên đời diễn ra nhanh chóng, chỉ 10-20 phút là có thể mang máy về nhà.   
							   </p>
							   
							   <p class="noidungchinhsach"> 
								   <span class="bold"> SỐ TIỀN BÙ CHÊNH LỆCH </span> = [Giá sản phẩm muốn mua <span class="bold">– Giá thu máy cũ – TRỢ GIÁ – </span> Các Voucher / Khuyến mãi (Khách hàng tích lũy)]
							   </p>
							   
							   <p class="noidungchinhsach"> 
								  <span class="tieudetieumuc">  Chính sách thu cũ đổi mới</span>   
								  <br>
								  <ul>
									  <li>&bull; Sản phẩm áp dụng thu cũ: Điện thoại iPhone, Samsung, LG</li>
									  <li>&bull; Đối tượng tham gia: Tất cả khách hàng có nhu cầu bán điện thoại cũ (nằm trong danh sách hỗ trợ) và muốn nâng cấp máy mới</li>
									  <li>&bull; Ưu đãi khi lên đời: <span class="bold">Trợ giá thêm đến 1 triệu  </span></li>
									  <li>&bull; Có thể áp dụng chung với chương trình trả góp 0%</li>
								  </ul>
								</p>	
								
								 <p class="noidungchinhsach"> 
										 <span class="tieudetieumuc">  Điều kiện thu máy cũ</span>   
										 <ul>
												  <li>&bull; Điện thoại có thể mở/tắt nguồn, không lỗi khổi động</li> 
												  <li>&bull; Điện thoại đã được tắt/ngắt hoạt động và đăng xuất khỏi tất cả các tính năng bảo mật máy và khoá máy từ xa như: Khoá màn hình, tài khoản iCloud, Samsung, Google…</li>
												  <li>&bull; KHÔNG yêu cầu điện thoại còn nằm trong thời hạn bảo hành</li>
												  <li>&bull; KHÔNG cần có hộp đựng hay phụ kiện kèm theo máy</li>
												  <li>&bull; KHÔNG phân biệt hàng xách tay hay chính hãng</li>
												  <li>&bull; Nhận thu điện thoại cũ đã mua ở các hệ thống, cửa hàng ngoài ABC</li>
												  
												  
										 </ul> 
							      </p>	
							      
							       <p class="noidungchinhsach"> 
										<span style="font-style: italic; color: red;">*Lưu ý: Máy lỗi, chai pin, pin bảo trì; máy kính xấu, vỏ xấu sẽ trừ sẽ thêm tiền khi thu máy </span>   
								   </p>					   
                        </div>
                        

                     </div>

                </div>

            </div>
    </div>
	
	
	

	<div th:replace="~{layouts/user/footer:: footer}"></div>
</body>

</html>