<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
<title>Chính sách trả góp</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="css/headerfooter.css">
<link rel="stylesheet" href="css/tragop.css">
</head>

<body>
	<div th:replace="~{layouts/user/header:: header}"></div>
		
	<div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-11 col-md-11 col-xs-11 col-sm-11">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="background-color: #2C76F6; border-radius: 10px; text-align: center; color: white; margin-bottom: 20px;margin-top: 20px;">
                                <h2> HƯỚNG DẪN MUA TRẢ GÓP TẠI SMART STORE</h2>
                        </div>

                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12" >
                            <p class="noidungtragop">
                                LỢI ÍCH MUA TRẢ GÓP TẠI SMART STORE
                                <ul>
                                    <li> Áp dụng mọi khuyến mãi như mua thông thường.</li>
                                    <li> Không cần thế chấp tài sản, chứng minh tài chính hoặc công chứng giấy tờ.</li>
                                    <li>Tư vấn mua trả góp nhanh chóng, gọn lẹ, thủ tục đơn giản.</li>
                                    <li>Hotline: 0921.281.281</li>
                                </ul>
                            </p>

                        </div>

                        

                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                <img src="img/tragop.webp" style="max-width: 100%;">

                        </div>

                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="background-color: #2C76F6; border-radius: 10px; text-align: center; color: white; margin-bottom: 20px;margin-top: 20px;">
                            <h2> Thủ tục nhanh chóng, không cần công chứng giấy tờ</h2>
                        </div> 
                        
                         <div  class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="margin-bottom: 20px;" >
                                <table border="1" style="width: 100%; text-align: center;">
                                     <tr>
                                        <td>
                                            Công ty tài chính
                                        </td>
                                        <td>
                                            <img src="img/img_hdsaison.gif"> 
                                        </td>
                                        <td>
                                            <img src="img/img_FeCredit.gif"> 
                                        </td>
                                        <td>
                                            <img src="img/updatelogompos.png" style="width: 180px;"> 
                                        </td>
                                     </tr>

                                     <tr>
                                            <td>
                                                LỢI ÍCH NỔI BẬT
                                            </td>

                                            <td>
                                                <ul style="display: inline-block; text-align: left;">
                                                    <li>
                                                        Thẩm định cực nhanh
                                                    </li>
                                                    <li> Thủ tục đơn giản</li>
                                                </ul>
                                            </td>

                                            <td>
                                                <ul style="display: inline-block; text-align: left;">
                                                    <li>
                                                        Thẩm định nhanh
                                                    </li>
                                                    <li> Lãi suất hấp dẫn</li>
                                                </ul>
                                            </td>

                                            <td>
                                                <ul style="display: inline-block; text-align: left;">
                                                    <li>
                                                        Không cần chờ duyệt hồ sơ
                                                    </li>
                                                    <li> Trả góp 0% Lãi Suất. Chỉ có phí chuyển đổi</li>
                                                </ul>
                                            </td>

                                     </tr>

                                     <tr>
                                          <td> CHỨNG TỪ CƠ BẢN</td>
                                          <td> 
                                            <ul style="display: inline-block; text-align: left;">
                                                <li>
                                                    Khoản vay < 10 triệu: CMND + Bằng lái xe
                                                </li>
                                                <li> Khoản vay >= 10 triệu: CMND + Hộ khẩu +<br> Hóa đơn điện/nước 01 trong 03 tháng gần nhất</li>
                                            </ul> 

                                          </td>

                                          <td> 
                                            <ul style="display: inline-block; text-align: left;">
                                                <li>
                                                    CMND + Bằng lái xe nếu khoản vay < 8 triệu
                                                </li>
                                                <li> CMND + Hộ khẩu nếu khoản vay >= 8 triệu</li>
                                            </ul> 

                                          </td>

                                          <td>
                                            Chỉ cần thẻ tín dụng (Visa, Master Card)
                                          </td>
                                     </tr>
                                     <tr>
                                        <td> ĐỐI TƯỢNG</td>
                                        <td> Khách hàng từ 19 đến 60 tuổi</td>
                                        <td> Khách hàng từ 20 – 60 tuổi</td>
                                        <td> Khách hàng có thẻ Tín dụng.</td>
                                     </tr>

                                     <tr>
                                        <td> KỲ HẠN</td>
                                        <td> 	6 – 12 tháng. Mỗi kì hạn có các lãi suất khác nhau<br> nên quý khách hàng vui lòng liên hệ <br> SMART STORE để biết thêm chi tiết</td>
                                        <td> 6 – 12 tháng. Mỗi kì hạn có các lãi suất khác<br>nhau nên quý khách hàng vui lòng liên hệ<br>SMART STORE để biết thêm chi tiết</td>
                                        <td> 6 – 12 tháng. </td>
                                     </tr>
                                </table>
                         </div>
                     </div>
                    </div>
               
                 </div>
               
            </div>
    </div>

	<div th:replace="~{layouts/user/footer:: footer}"></div>
</body>

</html>