<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
<title>Chính sách bảo hành</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="css/headerfooter.css">
<link rel="stylesheet" href="css/warranty.css">
</head>

<body>
	<div th:replace="~{layouts/user/header:: header}"></div>
	
	<div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-11 col-md-11 col-xs-11 col-sm-11">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="background-color: #2C76F6; border-radius: 10px; text-align: center; color: white; margin-top: 20px;">
                                <h2> Chính sách bảo hành</h2>
                        </div>

                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

                            <p class="noidungbaohanh" id="first"> ABC rất lấy làm tiếc và thành thật xin lỗi quý khách hàng trong trường hợp điện thoại, máy tính bảng của quý khách bị hỏng và phải mang đi bảo hành. </p>

                            <p class="tieudetieumuc">MÁY CHÍNH HÃNG SẼ ĐƯỢC BẢO HÀNH THEO QUI ĐỊNH CỦA HÃNG.  </p>


                            <p class="tieudetieumuc">I. CHÍNH SÁCH ĐỔI – TRẢ SẢN PHẨM:  </p>

                            <p class="noidungbaohanh"> 

                                *Điện thoại, máy tính bảng đã qua sử dụng: Trong 15 ngày đầu tiên( Chỉ áp dụng 1 lần và không áp dụng cho hình thức trả góp).  Nếu sản phẩm lỗi hoặc không phù hợp với nhu cầu sử dung, Quý khách có thể yêu cầu đổi 1 sản phẩm khác có giá trị cao hơn sản phẩm hiện tại và không bị trừ phí sử dụng. 
                            </p>


                            <p class="noidungbaohanh"> 
                                    <span class="bold"> *Trong 15 ngày đầu- Nhập lại 80% giá trị sản phẩm trên hoá đơn. sau 15 ngày nhập lại theo giá thoả thuận.</span>
                                    Lưu ý: Máy đổi – trả phải giữ nguyên hiện trạng ban đầu. không có dấu hiệu trầy cấn, móp, rơi vỡ, vào nước, dính tài khoản, mất vân tay, mất faceID và còn đầy đủ phụ kiện đi kèm lúc ABC bán ra. Sản phẩm phải còn tem bảo hành đầy đủ khi đổi- trả máy, nếu tem bị rách, xoá, mất thì cửa hàng sẻ nhận lại và gửi thẩm định kiểm tra từ 1-3 ngày.

                            </p>

                            <p class="tieudetieumuc">II. CHÍNH SÁCH BẢO HÀNH </p>


                            <p class="noidungbaohanh"> 
                                 <span class="bold">Thời gian Bao Test: </span> 
                                 15 Ngày máy sẻ được hổ trợ 1 đổi 1 máy likenew tương đương như lúc KH đang sử dụng nếu máy lỗi NSX. 
                            </p>

                            <p class="noidungbaohanh"> 
                                <span class="bold">Thời gian bảo hành: </span> 
                            </p>


                            <p class="noidungbaohanh"> 
                                <ul>
                                    <li>Hàng mới: 12 Tháng </li>
                                    <li>Hàng đã qua sử dụng: 06 Tháng </li>
                                </ul>
                            </p>


                            <p class="noidungbaohanh">
                                <span class="bold">Quyền lợi bảo hành: </span>   
                                Bảo hành sửa chữa thay thế linh kiện miễn phí nếu máy lỗi NSX.
                            </p>

                            <p class="noidungbaohanh"> 
                                <span class="bold">Lưu ý: </span>   
                             </p>


                             <p class="noidungbaohanh"> 
                                    <ul>
                                        <li>Thời gian đổi máy: Sau khi kỹ thuật viên ABC thẩm định chính xác lỗi phần cứng từ phía Nhà Sản Xuất.</li>

                                        <li> Màn Hình, Vân Tay, FaceID, Bút Spen chỉ bao test 15 ngày.</li>

                                        <li>  Hỗ trợ sửa chữa giá gốc, tùy thời giá khi màn hình sọc, chảy mực.</li>


                                        <li>  Thời gian sữa chữa: Từ 01-15 Ngày có thể sớm hơn tuỳ vào tình trạng tiếp nhận.</li>


                                        <li> Việc đổi máy có thể không đúng với màu sắc như sản phẩm ban đầu.</li>
                                    </ul>
                            </p>


                            <p class="tieudetieumuc"> 
                                III. TRƯỜNG HỢP TỪ CHỐI BẢO HÀNH:
                            </p>

                            <p class="noidungbaohanh">
                                -Từ chối bảo hành sữa chữa  các lỗi không thể khắc phục được: Mất dữ liệu, dính tài khoản iCloud, MiCloud, SamsungCloud. Máy bị cong sường, cong main,dập nát, cháy nổi.
                                <br>
                                -Các lỗi tác động người dùng như: rơi, vỡ, rớt nước, cấn, móp, biến dạng, tróc sơn, trầy xước, nứt vỡ, đứt cáp, đứt dây, gãy chân sim, gãy chân sạc. ẩm chân sạc sẻ không thuộc phạm vi bảo hành.
                                <br>
                                -Các lỗi thẩm mỹ bên ngoài như lớp phủ bảo vệ sơn sẻ không được bảo hành.
                                <br>
                                -Lỗi khách hàng trong quá trình sử dụng dẫn đén màn hình bị sọc, bể mực, ám màn, lưu ảnh. Đặt máy nơi bụi bẩn, ẩm ướt và nhiệt độ cao, có vết mốc, rỉ sét, ăn mòn, oxy hoá.
                                <br>
                                -Đối với lỗi điểm sáng – điểm chết trên màn hình, ABC chỉ bảo hành nếu có phát sinh từ 3 điểm trở lên. 
                                <br>
                                -Người dung tự ý sữa chữa can thiệp phần mềm hoặc phần cứng, IMEI không trùng với thân máy hoặc số hiệu lưu hệ thống.
                                <br>
                                ** Khi mang máy đến sữa chữa bảo hành , Qúy khách vui lòng lưu lại danh bạ, dữ liệu và tự bảo quản sim, thẻ nhớ, tài khoản cá nhân, ( Icloud, google, facebook, zalo …)
                            </p>


                        <div>

                     </div>

                </div>

            </div>
    </div>
	
	
	

	<div th:replace="~{layouts/user/footer:: footer}"></div>
</body>

</html>